<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <a routerLink="">
                <img src="/assets/img/towerBridge2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tower Bridge</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a routerLink="">
                <img src="/assets/img/buckinghamPalace.jpeg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5 class="card-title">Buckingham Place</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a routerLink="">
                <img src="/assets/img/towerOfLondon.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tower of London</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a routerLink="">
                <img src="/assets/img/bigben.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Big Ben</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </a>
        </div>
    </div>
</div>